*{
margin: 0px;
padding: 0px;
background-color: lightgray ;
}
div#general{

    /*backgcround-color:blue ;*/
    width: initial;
    height: initial;
    
}
div#izquierda{
    margin: auto;
    margin-top: 100px;
    margin-left: 5px;
    border-radius: 10px;
    width: 270px;
}
div#descripcion{
    /*background-color: red;*/
    float: right;
    width: auto;
    height: auto;
    text-align: left;
    margin-right: 10px;
}


header{
    height: 40px;
    text-align: center;
    font-size: 60px;
}