body{
  background-color:rgb(255, 255, 255) ;
  margin: 0px;
  padding: 0px;
}

.welcome{
    background-color: #000;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 310px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  
  .title {
    color: grey;
    font-size: 18px;
    margin: 2%;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .iconstitle i{
   margin: 3px;
 }
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .aboutme{
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  .portfoliosector{
    border-radius: 20px;
    padding: 5px;
    background: black;
    color: white;
  }
  .studies{
    text-align: center;
    border-bottom: 1px solid #000000;
    margin: 0px;
    padding: 0px;
  }