body{
  background-color:rgb(255, 255, 255) ;
  margin: 0px;
  padding: 0px;
}

.welcome{
    background-color: #000;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 310px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  
  .title {
    color: grey;
    font-size: 18px;
    margin: 2%;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .iconstitle i{
   margin: 3px;
 }
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .aboutme{
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  .portfoliosector{
    border-radius: 20px;
    padding: 5px;
    background: black;
    color: white;
  }
  .studies{
    border-bottom: 1px solid #000000;
    margin: 0px;
    padding: 0px;
  }
  .studies h1{
    text-align: center;
  }
  .projects{
    border-bottom: 1px solid #000000;
    margin: 0px;
    padding: 0px;
  }
  .row{
    display: flex;
    text-align: center;
    margin: auto;
    padding: auto;
  }
  .semi-card {
    flex: 1;
    display: table-cell;
    padding: 15px;
    margin: 50px;
    width: 260px;
    /*border: 3px solid blue;*/
    background-image: linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(rgb(221, 220, 220), rgb(221, 220, 220));
    background-repeat: no-repeat;
    background-size: 4px 50%, 50% 4px, 4px 50%, 50% 4px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
  }
  .semi-card p {
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 10px;
  }  
  .semi-card h2 {
      font-size: 14px;
      line-height: 1.3rem;
  }
  .projects h1{
    text-align: center;
  }

  /*-----------------------------------------------------------------------------------*/