@media screen and (min-width: 801px){
    *{
        margin: 0px;
        padding: 0px;
        background-color: #23282B;
        color: aliceblue;
        padding-left: 3px;
    }
    * a:hover{
        color:#3B83BD;
    }
}

@media screen and (max-width: 800px) {/*      Trabajar con el max        */
    *{
        margin: 0px;
        padding: 0px;
        background-color: #23282B;
        color: aliceblue;
        padding-left: 1px;
    }
}